<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Contact Us</title>
    <link href="/css/contactus.css" rel="stylesheet">
</head>

<body>
    <div class="section-content">
        <div class="backicon">
            <a href="/">
                <img class="backicon" src="/images/icons/back icon.png" alt="backicon">
            </a>
        </div>
        <div class="content">
            <h1 class="heading">Contact us</h1>
            <p class="information">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptate nobis
                atque, temporibus id
                illum.
                Optio, numquam esse, magnam, veniam praesentium cupiditate nemo nesciunt sit iusto doloribus vitae enim
                quidem.
            </p>
            <form class="form">
                <label for="fname">Name</label>
                <br>
                <input type="text" id="fname" placeholder="Your Name" name="firstname">
                <br>
                <label for="yemail">Email</label>
                <br>
                <input type="email" id="yemail" placeholder="Your email" name="yemail">
                <br>
                <label for="message">Message</label>
                <br>
                <input type="textarea" id="message" placeholder="Your message" name="ymessage">
            </form>
        </div>
    </div>
</body>

</html>