<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <script src="https://kit.fontawesome.com/8d914b3d7d.js" crossorigin="anonymous"></script>
    <link href="/css/index.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8d914b3d7d.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="loader">
        <img src="/images/loader.gif" alt="loader">
    </div>
    <div class="navigation-bar">
        <div class="logo">TechNova
            <div class="navigation-wrapper">
                <div class="navigation-buttons">
                    <i class="fa fa-bars"></i>
                </div>
                <div class="navigation-menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/aboutus">About us</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/signup">Signup</a></li>
                        <li><a href="/contactus">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="technova">
            <h1 class="heading glow">TechNova <br>
                <span>2023</span>
            </h1>
        </div>
        <div class="button">
            <a href="#" class="btn1">Register Here</a>
        </div>
    </section>
    <div class="days-heading">
        <h1>EVENTS</h1>
    </div>
    <div class="days">

        <img class="day1-img reveal" src="/images/robot.gif" alt="day1">
        <div class="day1-content">
            <h1 class="reveal">DAY 1</h1>
            <br>
            <p class="reveal">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut
                labore et dolore magna aliqua. Tellus molestie nunc non blandit massa enim.</p>
            <br>
            <div class="contanier">
                <button type="submit" class="btn-popup reveal" onclick="openPopup1()">Read More</button>
                <div class="popup1" id="popup1">
                    <div class="flip-content">
                        <div class="img-div">
                            <img class="robot-img"
                                src="https://twin-cities.umn.edu/sites/twin-cities.umn.edu/files/banner%20robot%20hand%20-%20news.gif"
                                alt="robot" />
                            <button type="button" class="btn-popup" onclick="closePopup1()">Register Here</button>
                        </div>
                        <div class="flip-panel">

                            <div class="panel">
                                <div class="front">
                                    <div class="content">
                                        [ front panel content 1 ]
                                    </div>
                                </div>

                                <div class="back">
                                    <div class="content">
                                        [ back panel content 1 ]
                                    </div>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="front">
                                    <div class="content">
                                        [ front panel content 2 ]
                                    </div>
                                </div>

                                <div class="back">
                                    <div class="content">
                                        [ back panel content 2 ]
                                    </div>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="front">
                                    <div class="content">
                                        [ front panel content 3 ]
                                    </div>
                                </div>

                                <div class="back">
                                    <div class="content">
                                        [ back panel content 3 ]
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="day1-content reveal">
            <h1 class="reveal">Day2</h1>
            <br>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Consectetur purus ut faucibus pulvinar
                elementum integer enim. Gravida in fermentum et sollicitudin ac orci phasellus egestas.
                Proin fermentum leo vel orci. Nulla posuere sollicitudin aliquam ultrices sagittis.</p>
            <br>
            <div class="contanier">
                <button type="submit" class="btn-popup reveal" onclick="openPopup2()">Read More</button>
                <div class="popup2" id="popup2">
                    <div class="flip-content">
                        <div class="img-div">
                            <img class="robot-img"
                                src="https://twin-cities.umn.edu/sites/twin-cities.umn.edu/files/banner%20robot%20hand%20-%20news.gif"
                                alt="robot" />
                            <button type="button" class="btn-popup " onclick="closePopup2()">Register Here</button>
                        </div>
                        <div class="flip-panel">

                            <div class="panel">
                                <div class="front">
                                    <div class="content">
                                        [ front panel content 1 ]
                                    </div>
                                </div>

                                <div class="back">
                                    <div class="content">
                                        [ back panel content 1 ]
                                    </div>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="front">
                                    <div class="content">
                                        [ front panel content 2 ]
                                    </div>
                                </div>

                                <div class="back">
                                    <div class="content">
                                        [ back panel content 2 ]
                                    </div>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="front">
                                    <div class="content">
                                        [ front panel content 3 ]
                                    </div>
                                </div>

                                <div class="back">
                                    <div class="content">
                                        [ back panel content 3 ]
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <img class="day1-img reveal" src="/images/orientation.jpg" alt="day2">
        <img class="day1-img reveal" src="/images/orientation.jpg" alt="day2">
        <div class="day1-content">
            <h1 class="reveal">DAY3</h1>
            <br>
            <p class="reveal">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Consectetur purus ut faucibus pulvinar
                elementum integer enim. Gravida in fermentum et sollicitudin ac orci phasellus egestas.
                Proin fermentum leo vel orci. Nulla posuere sollicitudin aliquam ultrices sagittis.</p>
            <br>
            <div class="contanier">
                <button type="submit" class="btn-popup reveal" onclick="openPopup3()">Read More</button>
                <div class="popup3" id="popup3">
                    <div class="flip-content">
                        <div class="img-div">
                            <img class="robot-img"
                                src="https://twin-cities.umn.edu/sites/twin-cities.umn.edu/files/banner%20robot%20hand%20-%20news.gif"
                                alt="robot" />
                            <button type="button" class="btn-popup" onclick="closePopup3()">Register Here</button>
                        </div>
                        <div class="flip-panel">

                            <div class="panel">
                                <div class="front">
                                    <div class="content">
                                        [ front panel content 1 ]
                                    </div>
                                </div>

                                <div class="back">
                                    <div class="content">
                                        [ back panel content 1 ]
                                    </div>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="front">
                                    <div class="content">
                                        [ front panel content 2 ]
                                    </div>
                                </div>

                                <div class="back">
                                    <div class="content">
                                        [ back panel content 2 ]
                                    </div>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="front">
                                    <div class="content">
                                        [ front panel content 3 ]
                                    </div>
                                </div>

                                <div class="back">
                                    <div class="content">
                                        [ back panel content 3 ]
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="footer reveal">
        <div class="footer-content">
            <div class="footer-heading">
                <div>
                    <img style="display:inline-block" src="/images/icons/location.png" alt="location">
                    <h2 style="display:inline-block">Lorem Ipsum</h2>
                </div>
            </div>
            <div class="footer-content">
                <div>
                    <img style="display:inline-block" src="/images/icons/call.png" alt="location">
                    <h2 style="display:inline-block">Lorem Ipsum</h2>
                </div>
            </div>
            <div class="footer-content3">
                <div>
                    <img style="display:inline-block" src="/images/icons/mail.png" alt="location">
                    <h2 style="display:inline-block">Lorem Ipsum</h2>
                </div>
            </div>
            <div class="footer-content4">
                <div>
                    <h1>logo</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam facere quia id dolorum corporis,
                        aliquam quibusdam fuga cumque totam aperiam error debitis dolore? Molestiae, itaque. Neque
                        consequuntur sit eius voluptates!</p>
                </div>
            </div>
            <div class="footer-content2">
                <ul>
                    <li>contact us</li>
                    <li>home</li>
                </ul>
            </div>
            <div class="footer-content5">
                <div>
                    <h1> heading</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam assumenda officia similique
                        perspiciatis unde itaque deleniti deserunt ad quos harum, dolore non ipsum praesentium, facere
                        quia necessitatibus molestiae, nisi doloribus.</p>
                </div>
            </div>
        </div>
        <div class="icon">
            <i class="fa-brands fa-facebook icons"></i>
            <i class="fa-brands fa-instagram icons"></i>
            <i class="fa-brands fa-twitter icons"></i>
            <i class="fa-brands fa-linkedin icons"></i>
        </div>


    </div>
    <script src="/js/index.js"></script>


</body>

</html>